{%extends 'main.html' %}


{%block content%}
<div class="container">
    <div class="books">
    {% for book in books %}
    <div class="book">
        <a href="{% url 'book' book.id %}"><img src="{{book.avatar.url}}" alt="" class="book_cover""></a>
        <h2>{{book.title}}</h2>
        {% for author in book.authors.all %}
            <h3><a href="{% url 'author' author.id %}" class="author_links">{{author}}</a></h3>
        {% endfor %}
    </div>
    {% endfor %}
    </div>
</div>
{%endblock content%}