{%extends 'main.html' %}


{%block content%}
<div class="container">
    <div class="author_info">
        <h1 class="author_links">{{author.name}}'s books</h1>
        <img src="{{author.image.url}}" alt="" class="author_image_small">
        <a href="{% url 'update_author' author.id %}" class="author_links"> Update information about {{author.name}}</a>
    </div>
    <div class="books">
        {% for book in author_books %}
        <div class="book">
            <a href="{% url 'book' book.id %}"><img src="{{book.avatar.url}}" alt="" class="book_cover""></a>
            <a href="{% url 'book' book.id %}" class="author_links"><h2>{{book.title}}</h2></a>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock content%}